car-booking/src/main/resources/car.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.bp.org/car/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="car" targetNamespace="http://www.bp.org/car/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bp="http://www.bp.org">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bp.org/">
			<xsd:import schemaLocation="car.xsd" namespace="http://www.bp.org"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="bookCarRequestMsg">
		<wsdl:part element="bp:bookCarRequest" name="payload"/>
	</wsdl:message>
	<wsdl:message name="bookCarResponseMsg">
		<wsdl:part element="bp:bookCarResponse" name="payload"/>
	</wsdl:message>
	<wsdl:message name="cancelBookingRequestMsg">
		<wsdl:part element="bp:cancelBookingRequest" name="payload"/>
	</wsdl:message>
	<wsdl:message name="cancelBookingResponseMsg">
		<wsdl:part element="bp:cancelBookingResponse" name="payload"/>
	</wsdl:message>
	<wsdl:message name="carFaultMsg">
		<wsdl:part element="bp:carFault" name="payload"/>
	</wsdl:message>
	<wsdl:portType name="CarBooking">
		<wsdl:operation name="bookCar">
			<wsdl:input message="tns:bookCarRequestMsg"/>
			<wsdl:output message="tns:bookCarResponseMsg"/>
			<wsdl:fault name="carFault" message="tns:carFaultMsg"/>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<wsdl:input message="tns:cancelBookingRequestMsg"/>
			<wsdl:output message="tns:cancelBookingResponseMsg"/>
			<wsdl:fault name="carFault" message="tns:carFaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CarBookingSOAP" type="tns:CarBooking">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="bookCar">
			<soap:operation soapAction="http://www.bp.org/car/bookCar"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="carFault">
				<soap:fault name="carFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelBooking">
			<soap:operation soapAction="http://www.bp.org/car/cancelBooking"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="carFault">
				<soap:fault name="carFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CarBookingService">
		<wsdl:port name="CarBookingPort" binding="tns:CarBookingSOAP">
			<soap:address location="http://www.bp.org/car/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
