adventure-booking/src/main/resources/CarBooking.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.bp.org" xmlns:ns1="http://www.bp.org/car/" name="CarBooking" targetNamespace="http://www.bp.org/car/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bp.org/types" elementFormDefault="qualified" targetNamespace="http://www.bp.org/types" version="1.0">

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element name="brand" type="xs:string"/>
      <xs:element name="model" type="xs:string"/>
      <xs:element name="registrationPlate" type="xs:string"/>
      <xs:element name="from" type="xs:dateTime"/>
      <xs:element name="to" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BookingInfo">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="cost" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntranceFee">
    <xs:sequence>
      <xs:element name="from" type="xs:dateTime"/>
      <xs:element name="to" type="xs:dateTime"/>
      <xs:element name="park" type="tns:NationalPark"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NationalPark">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentCard">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="validTo" type="xs:string"/>
      <xs:element name="number" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.bp.org/types" elementFormDefault="qualified" targetNamespace="http://www.bp.org" version="1.0">

  <xs:import namespace="http://www.bp.org/types"/>

  <xs:element name="bookCarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="ns1:Person"/>
        <xs:element name="car" type="ns1:Car"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bookCarResponse" type="ns1:BookingInfo"/>

  <xs:element name="cancelBookingRequest">
    <xs:complexType>
      <xs:sequence/>
      <xs:attribute name="bookingId" type="xs:int"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="cancelBookingResponse" type="ns1:BookingInfo"/>

  <xs:element name="carFault" type="ns1:Fault"/>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookCar">
    <wsdl:part element="ns2:bookCarRequest" name="payload">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarFaultMsg">
    <wsdl:part element="ns2:carFault" name="CarFaultMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBooking">
    <wsdl:part element="ns2:cancelBookingRequest" name="payload">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part element="ns2:cancelBookingResponse" name="payload">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookCarResponse">
    <wsdl:part element="ns2:bookCarResponse" name="payload">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarBooking">
    <wsdl:operation name="bookCar">
      <wsdl:input message="ns1:bookCar" name="bookCar">
    </wsdl:input>
      <wsdl:output message="ns1:bookCarResponse" name="bookCarResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:CarFaultMsg" name="CarFaultMsg">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="ns1:cancelBooking" name="cancelBooking">
    </wsdl:input>
      <wsdl:output message="ns1:cancelBookingResponse" name="cancelBookingResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:CarFaultMsg" name="CarFaultMsg">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>