adventure-booking/src/main/resources/park.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://park.bp.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ParkEntranceServiceService" targetNamespace="http://park.bp.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://park.bp.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://park.bp.org/">
  <xs:element name="bookParkEntrance" type="tns:bookParkEntrance"/>
  <xs:element name="bookParkEntranceResponse" type="tns:bookParkEntranceResponse"/>
  <xs:element name="cancelBooking" type="tns:cancelBooking"/>
  <xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"/>
  <xs:complexType name="bookParkEntrance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:parkEntranceTicket"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parkEntranceTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="fee" type="tns:entranceFee"/>
      <xs:element minOccurs="0" name="person" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entranceFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="from" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="park" type="xs:string"/>
      <xs:element minOccurs="0" name="to" type="xs:anySimpleType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookParkEntranceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bookingInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:decimal"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelBooking">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelBookingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bookingInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" type="tns:Fault"/>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookParkEntranceResponse">
    <wsdl:part element="tns:bookParkEntranceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBooking">
    <wsdl:part element="tns:cancelBooking" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="Fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part element="tns:cancelBookingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookParkEntrance">
    <wsdl:part element="tns:bookParkEntrance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ParkEntranceService">
    <wsdl:operation name="bookParkEntrance">
      <wsdl:input message="tns:bookParkEntrance" name="bookParkEntrance">
    </wsdl:input>
      <wsdl:output message="tns:bookParkEntranceResponse" name="bookParkEntranceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="tns:cancelBooking" name="cancelBooking">
    </wsdl:input>
      <wsdl:output message="tns:cancelBookingResponse" name="cancelBookingResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ParkEntranceServiceServiceSoapBinding" type="tns:ParkEntranceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookParkEntrance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookParkEntrance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookParkEntranceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParkEntranceServiceService">
    <wsdl:port binding="tns:ParkEntranceServiceServiceSoapBinding" name="ParkEntranceServicePort">
      <soap:address location="http://localhost:8081/soap-api/service/park"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>